.popup__container {
    background-color: white;
    color: black;
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;
    min-height: 330px;
    width: 430px;
}

@media screen and (max-width: 550px) {
    .popup__container {
        height: 322px;
        width: 282px;
    }
  }


