.popup__button {
    background-color: black;
    cursor: pointer;
    border-radius: 2px;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    border: none;
    padding: 14px 124px 18px 125px;
    margin-top: 13px;
 }

 .popup__button:hover {
    opacity: 80%;
  }

  @media screen and (max-width: 550px) {
    .popup__button {
        font-size: 14px;
        line-height: 17px;
        padding: 14px 82px;
        margin-top: 10px;
    }
  }