.header__logo {
width: 142px;
min-height: 33px;
padding-bottom: 41px;
}

@media screen and (max-width: 550px) {
    .header__logo {
        width: 103.74px;
        min-height: 24.4px;
        padding-left: 27px;
        padding-bottom: 32px;
    }
  }
