.popup__form {
    display: flex;
    flex-direction: column;
    padding: 0 36px;
}

@media screen and (max-width: 550px) {
    .popup__form {
        padding: 0 22px;
    }
  }

.popup__input {
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
border: none;
border-bottom: 1px solid #c9c6c6;
margin-bottom: 30px;
height: 27px;
}

.popup__input:last-of-type {
    margin-bottom: 48px;
}

@media screen and (max-width: 550px) {
    .popup__input:last-of-type {
        margin-bottom: 45px;
    }
  }

 .popup__submit-btn {
  
    height: 50px;
    background-color: black;
    cursor: pointer;
    border-radius: 2px;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    border: none;
 }

 .popup__submit-btn:hover {
    opacity: 80%;
  }

  @media screen and (max-width: 550px) {
    .popup__submit-btn {
        font-size: 14px;
        line-height: 17px;
    }
  }
